.google-button {
  --background: #ffffff;
  --color: #000;
  font-weight: 500;
  margin-top: 12px;
  border-radius: 25px;
  text-transform: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.divider {
  text-align: center;
  color: #999;
  font-size: 0.8em;
  margin: 10px 0;
}

.signup-link {
  text-align: center;
  margin-top: 10px;

  p {
    color: #666;
    font-size: 0.8em;
    margin-bottom: 4px;
  }

  a {
    color: #f08a8a;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
}
