<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/classes">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

@if (classData) {
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ classData.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Curso:</strong> {{ classData.course }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
} @else {
  <ion-text color="danger">
    <p>Disciplina não encontrada.</p>
  </ion-text>
}

