<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalhes da Disciplina</ion-title>
  </ion-toolbar>
</ion-header>

@if (classData$ | async; as class) {
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ class.university }}</ion-card-subtitle>
      <ion-card-title>{{ class.className }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full" class="ion-no-padding">
        <ion-item>
          <ion-label><strong>Curso:</strong></ion-label>
          <ion-text slot="end">{{ class.course }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label><strong>Instituição:</strong></ion-label>
          <ion-text slot="end">{{ class.university }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label><strong>Nota Atual:</strong></ion-label>
          <ion-text slot="end" color="primary"
            >{{ class.currentGrade | number:'1.0-2' }}</ion-text
          >
        </ion-item>

        <ion-item>
          <ion-label><strong>Status:</strong></ion-label>
          <ion-text
            slot="end"
            [color]="class.isCompleted ? 'success' : 'warning'"
          >
            {{ class.isCompleted ? 'Finalizada' : 'Em Andamento' }}
          </ion-text>
        </ion-item>
      </ion-list>
      <ion-button
        expand="block"
        fill="outline"
        routerLink="/classes/{{ class.id }}/edit"
        class="ion-margin-top"
        [disabled]="class.isCompleted"
      >
        Editar Detalhes
      </ion-button>

      <h3 class="ion-padding-top">Próximas Tarefas</h3>
      <p>Nenhuma tarefa agendada.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-buttons slot="start">
  <ion-button routerLink="/classes">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>
} @else {
<ion-content class="ion-padding ion-text-center">
  <ion-spinner name="crescent"></ion-spinner>
  <p>Carregando detalhes da disciplina...</p>
</ion-content>
}
