<ion-content [fullscreen]="true">
  <div class="background-image"></div>
  <div class="login-container ion-padding">

    <img src="assets/img/logo2updown.png" alt="Gradely Nome" class="logo-name ion-margin-bottom" />

    <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
      <ion-item lines="none" class="input-item">
        <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input
          formControlName="username"
          type="text"
          placeholder="Usuário"
          autocomplete="username"
          class="custom-input">
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item ion-margin-top">
        <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="Senha"
          autocomplete="current-password"
          class="custom-input">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="form.invalid"
        class="login-button ion-margin-top">
        LOGIN
      </ion-button>
    </form>

  </div>
</ion-content>
