<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/classes">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nova Disciplina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <form [formGroup]="getFormFirstStep()">
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input
          formControlName="name"
          placeholder="Ex: Matemática"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Curso</ion-label>
        <ion-input
          formControlName="course"
          placeholder="Ex: Ciência da Computação"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        color="success"
        (click)="addClass()"
        [disabled]="getFormFirstStep().invalid"
      >
        Adicionar
      </ion-button>
    </ion-card-content>
  </form>
</ion-card>
