<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/classes">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nova Disciplina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <form [formGroup]="classForm" (ngSubmit)="addClass()">
      <ion-card-content>

        <ion-item>
          <ion-label position="stacked">Nome da Disciplina</ion-label>
          <ion-input
            formControlName="className"
            placeholder="Ex: Desenvolvimento Mobile"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Curso</ion-label>
          <ion-input
            formControlName="course"
            placeholder="Ex: Ciência da Computação"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Universidade</ion-label>
          <ion-input
            formControlName="university"
            placeholder="Ex: PUC Minas"
          ></ion-input>
        </ion-item>

        <ion-button
          expand="block"
          color="success"
          type="submit"
          class="ion-margin-top"
          [disabled]="classForm.invalid"
        >
          Adicionar
        </ion-button>

      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
