<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desempenho</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button size="small" fill="clear">Acessar</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarefas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button size="small" fill="clear">Acessar</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Eventos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button size="small" fill="clear">Acessar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
